cpython
pyyaml
typing_extensions
numpy
schema
pytest
networkx
py-cpuinfo
protobuf==3.20.1
onnx==1.12.0
expecttest
torch==1.12.0+cpu
torchvision==0.13.0+cpu
--extra-index-url https://test.pypi.org/simple/
intel-extension-for-transformers==1.0b0.dev20221213
