[submodule "pytorch_addons/third_party/googletest"]
	path = pytorch_addons/third_party/googletest
	url = git@github.com:google/googletest.git
[submodule "tao/third_party/json"]
	path = tao/third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "tf_community"]
	path = tf_community
	url = git@github.com:pai-disc/tensorflow.git
[submodule "tao/third_party/abseil-cpp"]
	path = tao/third_party/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
