.DS_Store
.ipynb_checkpoints
*.pyc
platform_alibaba/ci_build/tao_dev_with_venv.Dockerfile
.vscode
pytorch_blade/src/common_utils/version.h
pytorch_blade/.torch_env_workspace.bzl
pytorch_blade/torch_blade/version.py
pytorch_blade/version.txt
scripts/ci/.tao_ci_conf
**/bazel-*
**/.build_config
**/.bazelrc_gen
dist
tao/py_test.out
tao/cpp_test.out
tao/tao_bridge/gpu
tao/tao_bridge/tao_launch_op
tao/blade_gemm
tao/third_party/PatineClient
tao/third_party/blade_service_common
tao/build.txt
tao/*.tgz
third_party/bazel/blade_service_common/*.BUILD
third_party/bazel/blade_service_common/*.BUILD.tpl
third_party/bazel/blade_service_common/blade_service_common_workspace.bzl.tpl
**/*.so
**/*.so.[0-9]
*.egg-info
build/
.pytest_cache
