.DS_Store
.ipynb_checkpoints
*.pyc
platform_alibaba/ci_build/tao_dev_with_venv.Dockerfile
.vscode
pytorch_blade/src/common_utils/version.h
pytorch_blade/.torch_env_workspace.bzl
pytorch_blade/torch_blade/version.py
pytorch_blade/version.txt
scripts/ci/.tao_ci_conf
tensorflow_blade/bazel-bin
tensorflow_blade/bazel-out
tensorflow_blade/bazel-tensorflow_blade
tensorflow_blade/bazel-testlogs
tensorflow_blade/dist
tensorflow_blade/.build_config
tensorflow_blade/.bazelrc_gen
tao/bazel-bin
tao/bazel-out
tao/bazel-tao
tao/bazel-testlogs
tao/.bazelrc_gen
tao/py_test.out
tao/cpp_test.out
tao/tao_bridge/gpu
tao/tao_bridge/tao_launch_op
tao/blade_gemm
tao/third_party/PatineClient
tao/third_party/blade_service_common
tao/build.txt
tao/*.tgz
third_party/bazel/blade_service_common/*.BUILD
third_party/bazel/blade_service_common/blade_service_common_workspace.bzl.tpl
*.so
*.egg-info
build/
