# these comes from tensorflow's source code
build:release --experimental_repo_remote_exec
build:release --verbose_failures
build:release --spawn_strategy=local  # this is a workaround to include third party source files with BUILD.bazel.
# base
build:release_base --config=release
build:release_base --distinct_host_configuration=false
# Note(xiafei.qiuxf): As shown below, c++14 is used to compile tao bridge, but this holds only up to TF 2.8! In higher
# versions, TF is built with -std=C++17 by default which cause absl to alias absl::string_view to std::sting_view
# instead of it's own implementation like absl::lts_xxxx::string_view. THIS CAUSE ABI COMPATIBILITY ISSUE. To build
# with higher TF version, set it to c++17.
build:release_base --cxxopt=-std=c++14
build:release_base --host_cxxopt=-std=c++14
build:release_base --compilation_mode=opt
# cpu
build:avx_linux --copt=-mavx
build:avx_linux --host_copt=-mavx

build:release_cpu_linux --config=avx_linux
# cuda
build:cuda --repo_env TF_NEED_CUDA=1
build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda --@local_config_cuda//:enable_cuda
# dcu
build:dcu --crosstool_top=@local_config_rocm//crosstool:toolchain
build:dcu --define=using_rocm=true --define=using_rocm_hipcc=true --define=using_dcu=true --cxxopt -D__HIPCC__
build:dcu --repo_env TF_NEED_ROCM=1 --repo_env TF_NEED_DCU=1
#rocm
build:rocm --crosstool_top=@local_config_rocm//crosstool:toolchain
build:rocm --define=using_rocm=true --define=using_rocm_hipcc=true --define=using_dcu=false --cxxopt -D__HIPCC__
build:rocm --repo_env TF_NEED_ROCM=1 --repo_env TF_NEED_DCU=0
build:rocm --experimental_ui_max_stdouterr_bytes=-1

# these comes from tao_compiler, unify these setting in the future
build:disc --define framework_shared_object=false --experimental_multi_threaded_digest
build:disc --config=release_base

build:disc_cpu --config=disc --cxxopt=-DTAO_CPU_ONLY
build:disc_x86 --config=disc_cpu --config=release_cpu_linux --cxxopt=-DTAO_X86 --define disc_x86=true
build:disc_aarch64 --config=disc_cpu --cxxopt=-DTAO_AARCH64 --define disc_aarch64=true --linkopt="-Xlinker --stub-group-size -Xlinker 10000000"
build:disc_cuda --config=disc --config=cuda
build:disc_dcu --config=disc --config=dcu
build:disc_rocm --config=disc --config=rocm

build:disc_mkldnn --config=disc --cxxopt=-DTAO_ENABLE_MKLDNN --define is_mkldnn=true --action_env BUILD_WITH_MKLDNN=1
build:disc_blaze --config=disc --cxxopt=-DBLAZE_OPT

build:cxx11abi_0 --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=0
build:cxx11abi_1 --cxxopt=-D_GLIBCXX_USE_CXX11_ABI=1

# blade gemm
build:blade_gemm --define is_blade_gemm=true
build:blade_gemm --cxxopt=-DENABLE_BLADE_GEMM

build:platform_alibaba --cxxopt=-DPLATFORM_ALIBABA
build:platform_alibaba --cxxopt=-DUSE_BLADE_SERVICE_COMMON
build:platform_alibaba --define is_platform_alibaba=true
build:platform_alibaba --repo_env IS_PLATFORM_ALIBABA=1

try-import %workspace%/.bazelrc_gen
