build/
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
*.yml
/.vscode/
/*/__pycache__/
*.proto3.pb.*
*.gz
/benchmark/*/
compile_commands.json
*.pt
core.*
ci_build/venv/
.coverage
.cache/
pytorch_blade/version.py
cpp_test.sh
*.tar
pytorch_blade/lib*
*.whl
/aicompiler_venv/
/aicompiler_venv_cpu/
pytorch_blade/disc_compiler_main
bazel-bin
bazel-out
bazel-pytorch_blade
bazel-testlogs
bazel_pyenv
debug_bazel.sh
py_test.out
cpp_test.out
