# This is a basic workflow that is manually triggered

name: DISC

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
#on:
#  push:
#    branches: [ main ]
#  pull_request:
#    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "greet"
  CUDA10-TF115:
    uses: ./.github/workflows/cuda_reusable.yml
    with:
      cuda_version: cu100
      remote_runtime_docker: bladedisc:latest-runtime-tensorflow1.15
      develop_base_image: nvidia/cuda:10.0-cudnn7-devel-ubuntu18.04
      runtime_base_image: tensorflow/tensorflow:1.15.5-gpu
      extra_build_args: --build-arg DISC_HOST_TF_VERSION="tensorflow-gpu==1.15"
      exec_command: bash ./scripts/ci/build_and_test.sh
      deploy_command: bash ./scripts/ci/deploy_tf_wrapper.sh
    secrets:
      ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
      ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
 
  CUDA11-TF24:
    uses: ./.github/workflows/cuda_reusable.yml
    with:
      cuda_version: cu110
      remote_runtime_docker: bladedisc:latest-runtime-tensorflow2.4
      develop_base_image: nvidia/cuda:11.0-cudnn8-devel-ubuntu18.04
      runtime_base_image: tensorflow/tensorflow:2.4.0-gpu
      extra_build_args: --build-arg DISC_HOST_TF_VERSION="tensorflow-gpu==2.4"
      exec_command: bash ./scripts/ci/build_and_test.sh
      tf_blade_command: bash ./scripts/ci/test_tensorflow_blade.sh cu110 2.4
      deploy_command: bash ./scripts/ci/deploy_tensorflow_blade.sh
    secrets:
      ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
      ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
 
  CUDA11-TORCH171:
    uses: ./.github/workflows/cuda_reusable.yml
    with:
      cuda_version: cu110
      remote_runtime_docker: bladedisc:latest-runtime-torch1.7.1-cu110
      develop_base_image: nvidia/cuda:11.0-cudnn8-devel-ubuntu18.04
      runtime_base_image: nvidia/cuda:11.0-cudnn8-devel-ubuntu18.04
      extra_envs: -e TORCH_BLADE_BUILD_TENSORRT_STATIC=ON
          -e TORCH_BLADE_CI_BUILD_TORCH_VERSION=1.7.1+cu110
      exec_command: bash ./scripts/ci/test_pytorch_blade.sh
      deploy_command: TORCH_VERSION=1.7.1+cu110 bash ./scripts/ci/deploy_pytorch_blade.sh
    secrets:
      ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
      ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
 
  CUDA10_2-TORCH181:
    uses: ./.github/workflows/cuda_reusable.yml
    with:
      cuda_version: cu102
      remote_runtime_docker: bladedisc:latest-runtime-torch1.8.1-cu102
      develop_base_image: nvidia/cuda:10.2-cudnn8-devel-ubuntu18.04
      runtime_base_image: nvidia/cuda:10.2-cudnn8-devel-ubuntu18.04
      extra_envs: -e TORCH_BLADE_BUILD_TENSORRT_STATIC=ON
          -e TORCH_BLADE_CI_BUILD_TORCH_VERSION=1.8.1+cu102
      exec_command: bash ./scripts/ci/test_pytorch_blade.sh
      deploy_command: TORCH_VERSION=1.8.1+cu102 bash ./scripts/ci/deploy_pytorch_blade.sh
    secrets:
      ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
      ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
 
  CUDA11_3-TORCH-1_12:
    uses: ./.github/workflows/cuda_reusable.yml
    with:
      cuda_version: cu113
      remote_runtime_docker: bladedisc:latest-runtime-torch1.12.0-cu113
      develop_base_image: nvidia/cuda:11.3.0-cudnn8-devel-ubuntu20.04
      runtime_base_image: nvidia/cuda:11.3.0-cudnn8-devel-ubuntu20.04
      extra_build_args: --build-arg PYTHON_VERSION=PYTHON3.8 --build-arg ENABLE_FIND_FASTEST_APT_SOURCE=OFF
      extra_envs: -e TORCH_BLADE_BUILD_TENSORRT_STATIC=ON
          -e TORCH_BLADE_CI_BUILD_TORCH_VERSION=1.12.0+cu113
      exec_command: bash ./scripts/ci/test_pytorch_blade.sh
      deploy_command: TORCH_VERSION=1.12.0+cu113 bash ./scripts/ci/deploy_pytorch_blade.sh
    secrets:
      ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
      ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
 
  CPU-TF115:
    uses: ./.github/workflows/cpu_reusable.yml
    with:
      remote_runtime_docker: bladedisc:latest-runtime-tensorflow1.15-cpu
      runtime_base_image: tensorflow/tensorflow:1.15.5
      exec_command: bash -c \
          "bash ./scripts/ci/build_and_test.sh --cpu-only && bash ./scripts/ci/test_tensorflow_blade.sh cpu 1.15"
      deploy_command: bash ./scripts/ci/deploy_tensorflow_blade.sh
    secrets:
      ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
      ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  CPU-TORCH181:
    uses: ./.github/workflows/cpu_reusable.yml
    with:
      extra_envs: -e TORCH_BLADE_BUILD_WITH_CUDA_SUPPORT=OFF
        -e TORCH_BLADE_CI_BUILD_TORCH_VERSION=1.8.1+cpu
      exec_command: bash ./scripts/ci/test_pytorch_blade.sh
    secrets:
      ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
      ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  AArch64-CPU-TF280:
    if: github.repository == 'alibaba/BladeDISC'
    # The type of runner that the job will run on
    runs-on: [self-hosted, aarch64]
    steps:
    - name: Checkout
      uses: actions/checkout@v2.4.0
    - name: Build Dev Docker
      run: |
        set -e
        git submodule sync
        git submodule update --depth=1 --init --recursive
        cp /etc/apt/sources.list .
        docker build -t disc-dev-cpu-aarch64 \
          --build-arg BASEIMAGE=ubuntu:20.04 \
          --build-arg DISC_HOST_TF_VERSION="tensorflow-aarch64==2.8" \
          -f docker/dev/Dockerfile.aarch64 .
    - name: Build And Test DISC
      run: |
        set -e
        docker run --rm -t --user $(id -u):$(id -g) \
          -v /mnt/cache:$HOME/.cache \
          -v /etc/passwd:/etc/passwd:ro \
          -v /etc/group:/etc/group:ro \
          -v $PWD:/disc \
          -e GITHUB_WORKFLOW=$GITHUB_WORKFLOW \
          -w /disc \
          disc-dev-cpu-aarch64 \
          bash ./scripts/ci/build_and_test.sh --cpu-only
    - name: Deploy Dev Docker Image
      if: github.event.ref == 'refs/heads/main'
      env:
        ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
        ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        GITHUB_PULL_REQUEST: ${{ github.event.number }}
        LOCAL_DEV_DOCKER: disc-dev-cpu-aarch64
        REMOTE_DEV_DOCKER: bladedisc:latest-devel-cpu-aarch64
      run: |
        set -e
        echo "Try to deploy runtime docker image..."
        source $HOME/.cache/proxy_config
        bash ./scripts/ci/deploy_tf_wrapper.sh
    - name: Deploy Runtime Docker Image
      if: github.event.ref == 'refs/heads/main'
      env:
        ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
        ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        GITHUB_PULL_REQUEST: ${{ github.event.number }}
        RUNTIME_BASEIMAGE: bladedisc/bladedisc:latest-devel-cpu-aarch64
        RUNTIME_DOCKER_FILE: docker/runtime/Dockerfile.tf.aarch64
        REMOTE_RUNTIME_DOCKER: bladedisc:latest-runtime-tensorflow2.8-cpu-aarch64
      run: |
        set -e
        echo "Try to deploy runtime docker image..."
        source $HOME/.cache/proxy_config
        bash ./scripts/ci/deploy_tf_wrapper.sh
  AArch64-CPU-TORCH_1_10:
    if: github.repository == 'alibaba/BladeDISC'
    # The type of runner that the job will run on
    runs-on: [self-hosted, aarch64]
    steps:
    - name: Checkout
      uses: actions/checkout@v2.4.0
    - name: Build Dev Docker
      run: |
        set -e
        git submodule sync
        git submodule update --depth=1 --init --recursive
        cp /etc/apt/sources.list .
        docker build -t disc-dev-cpu-aarch64 \
          --build-arg BASEIMAGE=ubuntu:20.04 \
          --build-arg DISC_HOST_TF_VERSION="tensorflow-aarch64==2.8" \
          -f docker/dev/Dockerfile.aarch64 .
    - name: Build And Test DISC
      run: |
        set -e
        docker run --rm -t --user $(id -u):$(id -g) \
          -v /mnt/cache:$HOME/.cache \
          -v /etc/passwd:/etc/passwd:ro \
          -v /etc/group:/etc/group:ro \
          -v $PWD:/disc \
          -e GITHUB_WORKFLOW=$GITHUB_WORKFLOW \
          -e TORCH_BLADE_BUILD_WITH_CUDA_SUPPORT=OFF \
          -e TORCH_BLADE_CI_BUILD_TORCH_VERSION=1.10.0+aarch64 \
          -w /disc \
          disc-dev-cpu-aarch64 \
          bash ./scripts/ci/test_pytorch_blade.sh
    - name: Deploy Dev Docker Image
      if: github.event.ref == 'refs/heads/main'
      env:
        ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
        ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        GITHUB_PULL_REQUEST: ${{ github.event.number }}
        LOCAL_DEV_DOCKER: disc-dev-cpu-aarch64
        REMOTE_DEV_DOCKER: bladedisc:latest-devel-cpu-aarch64
      run: |
        set -e
        echo "Try to deploy runtime docker image..."
        source $HOME/.cache/proxy_config
        bash ./scripts/ci/deploy_tf_wrapper.sh
    - name: Deploy Runtime Docker Image
      if: github.event.ref == 'refs/heads/main'
      env:
        ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
        ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        GITHUB_PULL_REQUEST: ${{ github.event.number }}
        RUNTIME_BASEIMAGE: bladedisc/bladedisc:latest-devel-cpu-aarch64
        RUNTIME_DOCKER_FILE: docker/runtime/Dockerfile.pytorch.aarch64
        REMOTE_RUNTIME_DOCKER: bladedisc:latest-runtime-torch1.10.0-cpu-aarch64
      run: |
        set -e
        echo "Try to deploy runtime docker image..."
        source $HOME/.cache/proxy_config
        bash ./scripts/ci/deploy_tf_wrapper.sh
