name: tf1_15-cpu
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 17 * * *' # 1:00 am UTC+8:00
  workflow_dispatch:

jobs:
  build:
    uses: ./.github/workflows/resuable_cpu_build.yml
    with:
      remote_runtime_docker: bladedisc:latest-runtime-tensorflow1.15-cpu
      runtime_base_image: tensorflow/tensorflow:1.15.5
      extra_build_args: --build-arg DISC_HOST_TF_VERSION="tensorflow==1.15.5"
      exec_command: bash -c \
        "bash ./scripts/ci/build_and_test.sh --cpu-only && bash ./scripts/ci/test_tensorflow_blade.sh cpu 1.15"
      deploy_command: bash ./scripts/ci/deploy_tensorflow_blade.sh
    secrets:
      ALIYUN_DOCKER_USERNAME: ${{ secrets.ALIYUN_DOCKER_USERNAME }}
      ALIYUN_DOCKER_PASSWORD: ${{ secrets.ALIYUN_DOCKER_PASSWORD }}
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
